<table class="table"*ngIf="userChores">
  <thead>
    <tr>
      <th scope="col">Nazwa zadania</th>
      <th scope="col">Czas trwania</th>
      <th scope="col">Trudność</th>
      <th scope="col">Typ zadania</th>
      <th scope="col">Status ankiety</th>
    </tr>
  </thead>
  <tbody *ngFor="let chore of userChores">
    <tr [routerLink]="['/history/userchore', chore.id]">
      <td>{{chore.name}}</td>
      <td>{{chore.time}}min</td>
      <td>{{chore.difficulty}}</td>
      <td>{{chore.type}}</td>
      <td>{{chore.surveyStatus}}</td>
    </tr>
  </tbody>
</table>
