<form name="signUpForm" #signUpForm="ngForm">
  <div class="form-group row">
    <div class="col-sm-6">
      <div class="input-group">
        <input type="name" class="form-control" id="inputName" [(ngModel)]="form.username" name="username"
          #username="ngModel" placeholder="Nazwa użytkownika" required minlength="5" maxlength="50">
        <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
          Podaj nazwę użykownika.
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="input-group">
        <input type="email" class="form-control" id="inputEmail" [(ngModel)]="form.email" name="email" #email="ngModel"
          ngModel email required placeholder="Adres e-mail">
        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
          Podaj prawidłowy adres email.
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
      <div class="col-sm-6">
        <div class="input-group">
          <input type="password" class="form-control" id="inputPassword" placeholder="Hasło" [(ngModel)]="form.password"
            #password="ngModel" name="password" required minlength="8" maxlength="50">
          <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
            Podaj prawidłowe hasło.
          </div>
        </div>
      </div>
    </div>

  <div class="form-group row">
    <div class="col-sm-6">
      <div class="input-group">
        <input type="number" class="form-control" id="inputAge" placeholder="Wiek" name="age" id="inputAge"
        [(ngModel)]="form.age" #age="ngModel" required min="1" max="99">
      </div>
      <div [hidden]="age.valid || age.pristine" class="alert alert-danger">
          Podaj prawidłowy wiek.
        </div>
    </div>
    <div class="col-sm-6">
      <select class="custom-select" [(ngModel)]="sexNumber" name="sex" #sex="ngModel" required >
        <option selected>Płeć</option>
        <option value="1">Kobieta</option>
        <option value="2">Mężczyzna</option>
        <option value="3">Inna</option>
      </select>
    </div>
  </div>

  <button type="submit" class="btn btn-success" style="float:left" (click)="confirm()"
    [disabled]="!signUpForm.form.valid">Zarejestruj</button>
</form>