<div *ngIf="chore">
  <h2>Zadanie: {{ chore.name }}</h2>
  <div>
    <label>Czas: </label>{{chore.time}}
  </div>
  <div>
    <label>Trudność: </label>{{chore.difficulty}}
  </div>
  <div>
    <label>Typ: </label>{{chore.type}}
  </div>
  <div>
    <label>Szczegóły: </label>{{chore.details}}
  </div>
  <div>
    <label>Stan: </label>{{chore.surveyStatus}}
  </div>
  <form name="surveyForm" #surveyForm="ngForm">
    <div class="form-group row">
      <div class="col-sm-3">
        <label>Dopasowanie: </label>
      </div>
      <div class="col-sm-2">
        <input type="number" min="0" max="100" class="form-control" id="inputFit" placeholder="" [(ngModel)]="chore.fit"
          [disabled]="!editing" name="fit" #fit="ngModel" required>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-3">
        <label>Wykonanie: </label>
      </div>
      <div class="col-sm-2">
        <input type="number" min="0" max="100" class="form-control" id="inputDone" placeholder="" [disabled]="!editing"
          [(ngModel)]="chore.done" name="done" #done="ngModel" required>
      </div>
    </div>
    <div>
      <button class="btn btn-success" [hidden]="editing" (click)="edit()">Edytuj</button>
      <button class="btn btn-success" [hidden]="!editing" (click)="confirm()"
        [disabled]="!surveyForm.form.valid">Zapisz</button>
      <button class="btn btn-warning" routerLink="/history/userchores">Wróc</button>
    </div>
  </form>
</div>