<div *ngIf="chore; else loading">
    <h2>Zadanie: {{ chore.name }}</h2>
  <div>
    <label>Czas: </label>{{chore.time}} minut
  </div>
  <div>
    <label>Trudność: </label>{{chore.difficulty}}
  </div>
  <div>
    <label>Typ: </label>{{chore.type}}
  </div>
  <div>
    <label>Szczegóły: </label>{{chore.details}}
  </div>
  <div>
    <button class="btn btn-warning" routerLink="/chores/list">Wróc</button>
  </div>
</div>

<ng-template #loading>
    Loading stuff...
</ng-template>