<form name="choreForm" #choreForm="ngForm" *ngIf="!added; else waiting">
  <div class="form-group row">
    <div class="col-sm-12">
      <input type="name" class="form-control" id="inputName" placeholder="Nazwa zadania" [(ngModel)]="model.name"
        #name="ngModel" name="name" required minlength="5" maxlength="80">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Nazwa zadania jest wymagana(5-80).
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-6">
      <div class="input-group-append">
        <input type="number" min="0" max="1440" pattern=""  class="form-control" id="inputTime" placeholder="Czas trwania" [(ngModel)]="model.time"
          name="time" #time="ngModel" required (timeChange)="timeCheck()">
        <span class="input-group-text">min</span>
      </div>
      <div [hidden]="time.valid || time.pristine" class="alert alert-danger">
        Podaj czas trwania(0-1440).
      </div>
    </div>
    <div class="col-sm-6">
      <select class="custom-select" [(ngModel)]="model.difficult" name="difficult" #difficulty="ngModel" required>
        <option value="0">Bardzo łatwe</option>
        <option value="1">Łatwe</option>
        <option value="2">Średnie</option>
        <option value="3">Trudne</option>
        <option value="4">Bardzo trudne</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-3">
      <label>Typ zadania</label>
    </div>
    <div class="col-sm-9">
      <select class="custom-select" [(ngModel)]="model.type" name="type" #type="ngModel" required>
        <option value="0">Fizyczne</option>
        <option value="1">Umysłowe</option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-12">
      <textarea class="form-control" name="details" #details="ngModel" placeholder="Krótki opis zadania"
        [(ngModel)]="model.details" maxlength="250"></textarea>
      <div [hidden]="details.valid || details.pristine" class="alert alert-danger">
        Opis zadania jest za długi, limit wynosi 250 znaków.
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-success" style="float:left" (click)="confirm()"
    [disabled]="!choreForm.form.valid">Dodaj</button>
</form>

<ng-template #waiting>
<h1> Dodano zadanie.</h1>
<button type="submit" class="btn btn-success" style="float:left" (click)="nextOne()">Dodaj kolejne</button>
</ng-template>