<div *ngIf="userData; else loading">
  <div class="row">
    <label>Nazwa użytkownika</label> {{userData.username}}
  </div>
  <div class="row">
      <label>Email</label> {{userData.email}}
  </div> 
  <div class="row">
      <label>Płeć</label> {{userData.sex}}
  </div> 
  <div class="row">
      <label>Wiek</label> {{userData.age}}
  </div>
</div>

<ng-template #loading>
    Loading stuff...
</ng-template>