<table class="table" *ngIf="choresList; else loading">
  <thead>
    <tr>
      <th scope="col">Nazwa zadania</th>
      <th scope="col">Czas trwania</th>
      <th scope="col">Trudność</th>
      <th scope="col">Typ zadania</th>
    </tr>
  </thead>
  <tbody *ngFor="let chore of choresList">
    <tr [routerLink]="['/choredetails', chore.id]" >
      <td>{{chore.name}}</td>
      <td>{{chore.time}}min</td>
      <td>{{chore.difficulty}}</td>
      <td>{{chore.type}}</td>
    </tr>
  </tbody>
</table>

<ng-template #loading>
    Loading stuff...
</ng-template>