<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col col-lg-8">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand " routerLink="/chores/random">SPZ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainBar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-md-between " id="mainBar">
          <div class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Zadanie
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="nav-item nav-link" routerLink="/chores/random">Znajdź zadanie</a>
                <a class="nav-item nav-link" routerLink="/chores/add">Dodaj zadanie</a>
                <a class="nav-item nav-link" routerLink="/chores/list">Lista zadań</a>
              </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Użytkownika
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="nav-item nav-link" routerLink="/user/account">Konto</a>
                  <a class="nav-item nav-link" routerLink="/history/userchores">Historia zadań</a>
                  <a class="nav-item nav-link" routerLink="/chores/list">Statystyki</a>
                </div>
              </li>
          </div>
          <div>
            <app-login-form></app-login-form>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col col-lg-5 justify-content-center">
      <router-outlet></router-outlet>
      <app-notification></app-notification>
    </div>
  </div>
  <div class="row fixed-bottom d-flex justify-content-center" style="background-color: #e3f2fd; ">
    <div>
      Wspaniała wczesna wersja aplikacji zrobionej z czułością i miłością by żyło się lepiej!!!!
    </div>
  </div>
</div>