<div *ngFor="let item of notifications" class="alert alert-warning alert-dismissible fade show" role="alert" >
  {{item.message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>
</div>
