<h2>Zadanie</h2>
<div *ngIf="chore;else loading">
  <h3>Nazwa zadania: {{ chore.name }}</h3>
  <div>
    <label>Czas: </label>{{chore.time}}</div>
  <div>
    <label>Szczegóły: </label>{{chore.details}}
  </div>
  <div>
    <button class="btn btn-success" (click)="acceptChore()">Przyjmij zadanie</button>
    <button class="btn btn-warning" routerLink="/chores/random">Wylosuj inne</button>
  </div>
</div>

<ng-template #loading>
    Loading stuff...
</ng-template>