<form name="randomChoreForm" #randomChoreForm="ngForm">
  <div class="form-group row">
    <div class="col-sm-12">
      <div class="input-group-append">
        <input type="number" min="0" max="1440" pattern="" class="form-control" id="inputTime"
          placeholder="Czas trwania" [(ngModel)]="model.time" name="time" #time="ngModel" required
          (timeChange)="timeCheck()">
        <span class="input-group-text">min</span>
      </div>
      <div [hidden]="time.valid || time.pristine" class="alert alert-danger">
        Podaj czas trwania(0-1440).
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-12">
      <div class="input-group-append">
        <input type="range" class="custom-range" min="0" max="100" step="1" id="inputenergy" name="energy"
          [(ngModel)]="model.energy" #energy="ngModel" required>
        <span class="input-group-text">{{model.energy}}</span>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-3">
      <label>Typ zadania</label>
    </div>
    <div class="col-sm-9">
      <select class="custom-select" [(ngModel)]="model.type" name="choreType" #choreType="ngModel" required>
        <option value="0">Fizyczne</option>
        <option value="1">Umysłowe</option>
      </select>
    </div>
  </div>

  <button type="submit" class="btn btn-success" style="float:left" (click)="confirm()"
    [disabled]="!randomChoreForm.form.valid">Losuj</button>